body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d3849;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calc{
    font-family: Arial,sans-serif;
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    width: 100%;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 40px;
    border: none;
    background-color: #205b7a;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(203, 52%, 51%);
}
button:active{
    background-color: hsl(200, 65%, 58%);
}
.operator{
    background-color: #02183db6;
}
.operator:hover{
    background-color: #151617a0;
}
.operator:active{
    background-color: #0056c746;
}
.operator{
    color: #00b7ff;
}
